body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", "Ubuntu", sans-serif;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 85%;
  }
}
